body {
    background-color: #f5f5f5;
    color: #111;
    font-weight: 300;
    line-height: 1.4;
    width: 550px;
    margin: 0 auto;
}

button {
    appearance: none;
    background: none;
    border: 0;
    /* vertical-align: baseline; */
}

.todoapp {
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2),
                0 25px 50px 0 rgba(0, 0, 0, .1);
    width: 100%;
    margin: 130px 0 40px;
}


/* HEADER */

.todoapp h1 {
    width: 100%;
    color: #b83f45;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: -140px;
}

.todoapp .new-todo,
.todoapp .edit {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    font-size: 24px;
    outline: none;
    border: none;
    box-shadow: 0 -2px 1px rgba(0, 0, 0, .03); 
}

.todoapp .edit {
    margin-left: 16px;
}

.todoapp .new-todo {
    padding: 16px 16px 16px 60px;
}

.todoapp .new-todo:placeholder-shown {
    font-style: italic;
}

.todoapp .new-todo:focus,
.todoapp .edit:focus {
    box-shadow: 0 0 2px 2px #cf7d7d;
}


/* MAIN */
.todoapp main {
    border-top: 1px solid #e6e6e6;
    position: relative;
    z-index: 2;
}

.todoapp .toggle-all {
    border: none;
    width: 1px;
    height: 1px;
    /* opacity: 0; */
    position: absolute;
    top: 1px;
    left: 1px;
}

.todoapp .toggle-all-label {
    cursor: pointer;
    color: #949494;
    display: block;
    justify-content: center;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: -65px;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.todoapp .todo-list li {
    border-bottom: 1px solid #ededed;
    font-size: 24px;
    position: relative;
    display: flex;
    align-items: center;
}

.todoapp .todo-list li .toggle {
    height: 20px;
    width: 20px;
    margin-left: 15px;
}

.todoapp .todo-list li label {
    color: #484848;
    display: block;
    font-weight: 400;
    line-height: 1.2;
    padding: 16px;
    transition: color .4s;
    /* word-break: break-all; */
    flex-grow: 1;
}

.todoapp .todo-list li.completed label {
    color: #949494;
    text-decoration: line-through;
}

.todoapp .todo-list li .destroy {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}
.todoapp .todo-list li:hover .destroy::before {
    color: #c18585;
    font-size: 24px;
    font-weight: 400;
    content: "X";
}

/* FOOTER */

.todoapp .footer {
    border-top: 1px solid #e6e6e6;
    font-size: 15px;
    height: 20px;
    padding: 10px 15px;
    text-align: center;
    display: flex;
}

.todoapp .footer ul {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.todoapp .footer ul li {
    margin: 0 5px;
}

.todoapp .footer ul li a {
    color: #111;
    text-decoration: none;
}

.todoapp .footer ul li a.selected {
    padding: 0 5px;
    border: 1px solid #b83f45;
    border-radius: 3px;
}